.column {
  float: left;
  width: 25%;
}
.column h2 {
  font-size: 40px;

}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  body {
    background-color: black;
    color: white;
  }
  .column {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
    float: none;
  }
}
